body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(91, 0, 133) 50%, rgb(160, 64, 64) 100%);
}
form {
    background-color: rgb(255, 217, 0);
    padding-bottom: 100px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(15, 0, 0, 0.2);
    width: 30%;
    height: 50%;
    background: linear-gradient(90deg, rgb(189, 80, 252) 0%,  rgb(219, 75, 255) 50%, rgb(221, 189, 255) 100%);
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}

#input-box {
    display: flex;
    flex-direction: column;
}

#texts {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

header{
    display:block;
    position: absolute;
    top: 10px;
    left: 10px;
    
}
img{
    width: 40%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5400c2;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 70%;
}

button:hover {
    background-color: #8600f3;
}

#limpar button {
    background-color: #dc3545;
}

#limpar button:hover {
    background-color: #c82333;
}
input{
    padding: 8px;
    border: 1px solid rgb(125, 0, 163);
    border-radius: 4px;
    width: 95%;
}

main{
   
    box-shadow: 0 10px 100px rgb(0, 235, 252);
}

